<a href="https://colab.research.google.com/github/PNeil95/TreeDecision_Pandas/blob/main/Arbol_Car.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***MODELO DE APRENDIZAJE AUTOMATICO SUPERVISADO - ARBOL DE DECISION***

In [18]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
data = pd.read_csv('/content/car.csv', header = None)

In [5]:
data.sample(5)

          0      1      2     3      4     5      6
244   vhigh    med      3     2  small   med  unacc
996     med   high      2  more    big   low  unacc
1554    low    med      3     4    big   low  unacc
467    high  vhigh      3     2    big  high  unacc
850    high    low  5more     4    med   med    acc

In [6]:
data.columns = ['Price','Maintenance','Number_Doors','Capacity','Size_Lug','Safety','Class']

In [7]:
data.sample(5)

     Price Maintenance Number_Doors Capacity Size_Lug Safety  Class
1228   med         low            3        4      med    med    acc
550   high        high            2        4    small    med  unacc
913    med       vhigh            3     more      med    med    acc
1566   low         med            4        2    small    low  unacc
868    med       vhigh            2        2      med    med  unacc

In [8]:
data.Price.replace(('vhigh','high','med','low'),(4,3,2,1),inplace=True)
data.Maintenance.replace(('vhigh','high','med','low'),(4,3,2,1),inplace=True)
data.Number_Doors.replace(('2','3','4','5more'),(1,2,3,4),inplace=True)
data.Capacity.replace(('2','4','more'),(1,2,3),inplace=True)
data.Size_Lug.replace(('small','med','big'),(1,2,3),inplace=True)
data.Safety.replace(('low','med','high'),(1,2,3),inplace=True)

In [9]:
data['Class'].replace(('unacc','acc','good','vgood'),(1,2,3,4),inplace=True)

In [10]:
data.head(5)

   Price  Maintenance  Number_Doors  Capacity  Size_Lug  Safety  Class
0      4            4             1         1         1       1      1
1      4            4             1         1         1       2      1
2      4            4             1         1         1       3      1
3      4            4             1         1         2       1      1
4      4            4             1         1         2       2      1

División de Datos: 80% para aprendizaje - 20% pruebas

In [20]:
dataset = data.values
X = dataset[:, 0:6]
Y = np.asarray(dataset[:,6],dtype='S6')

In [21]:
from sklearn import tree
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn import metrics

In [22]:
X_Train, X_Test, Y_Train, Y_Test = train_test_split(X,Y,test_size=0.2,random_state=0)

In [23]:
tr = tree.DecisionTreeClassifier(max_depth=10)

In [25]:
tr.fit(X_Train,Y_Train)

DecisionTreeClassifier(max_depth=10)

In [26]:
y_pred = tr.predict(X_Test)

In [27]:
y_pred

array([b'1', b'1', b'1', b'1', b'1', b'3', b'1', b'2', b'3', b'1', b'1',
       b'1', b'2', b'1', b'1', b'2', b'1', b'1', b'2', b'1', b'3', b'2',
       b'3', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'3', b'2', b'1',
       b'2', b'3', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'4', b'1', b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'1', b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'1', b'2',
       b'1', b'1', b'1', b'1', b'1', b'2', b'1', b'2', b'3', b'2', b'1',
       b'2', b'2', b'1', b'2', b'2', b'2', b'1', b'1', b'1', b'1', b'3',
       b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'4', b'1', b'2', b'2',
       b'1', b'1', b'1', b'2', b'1', b'4', b'2', b'1', b'2', b'1', b'1',
       b'1', b'1', b'1', b'2', b'1', b'3', b'1', b'1', b'1', b'1', b'1',
       b'1', b'2', b'1', b'1', b'1', b'1', b'2', b'3', b'1', b'1', b'1',
       b'2', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'2', b'1', b'1', b'2', b'1', b'2', b'2', b'2', b'2', b'1', b'1',
       b'1', b'2', b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'2',
       b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'2', b'1',
       b'1', b'1', b'1', b'1', b'2', b'2', b'2', b'1', b'2', b'1', b'3',
       b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'2', b'1', b'3',
       b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'1',
       b'1', b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'2', b'1', b'1',
       b'1', b'2', b'1', b'4', b'1', b'1', b'1', b'4', b'1', b'1', b'1',
       b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'1', b'1', b'3', b'1', b'2', b'1', b'1', b'1', b'1', b'1', b'3',
       b'2', b'3', b'2', b'2', b'1', b'1', b'1', b'2', b'1', b'1', b'2',
       b'1', b'1', b'4', b'1', b'2', b'1', b'1', b'1', b'2', b'1', b'2',
       b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'2', b'1', b'1', b'2',
       b'1', b'4', b'3', b'1', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'1', b'1', b'2', b'1', b'2', b'2', b'3', b'3', b'1', b'2', b'1',
       b'2', b'1', b'3', b'2', b'1', b'1', b'1', b'1', b'1', b'1', b'1',
       b'2', b'1', b'1', b'2', b'1', b'2', b'1', b'1', b'1', b'1', b'1',
       b'2', b'1', b'3', b'1', b'3', b'1', b'1', b'1', b'4', b'1', b'1',
       b'4', b'1', b'2', b'1', b'2'], dtype='|S6')

In [28]:
score = tr.score(X_Test,Y_Test)

In [29]:
print('Precisión: %0.4f'% (score))

Precisión: 0.9740